@CHARSET "UTF-8";

.social-media-element {
    background-repeat: no-repeat;
    background-size: 1.3em auto;
    padding-left: 20px;
}

.social-media-list {
	list-style-type: none;
	margin-left: 0;
}